@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFDF3;
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --dark-color: #222325;
  --border-color: #3A35411F;
  --red-color: #F64920;
  --green-color: #3ECF4C;
  --light-green-color: #E0FDDF;
  --dark-green-color: #1C9675;
  --base-color: #333333AD;
  --yellow-color: #FFBD3A;
  --light-yellow-color: #FFF7D7CC;
  --dark-yellow-color: #B5A40D;
  --blue-color: #0980E2;
  --light-blue-color: #ebf3fe;
  --purple-color: #7C3AED;
  --light-purple-color: #EDE9FE;

  --light-gray-color: #F5F5F5;
  --secondary-color: #C1C2C4;
}

main {
  margin-top: 6rem;
}

p {
  color: var(--base-color);
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}