@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFDF3;
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --dark-color: #222325;
  --border-color: #3A35411F;
  --red-color: #F64920;
  --green-color: #3ECF4C;
  --light-green-color: #E2FCD9CC;
  --base-color: #333333AD;
  --yellow-color: #FFBD3A;
  --selected-color: #F4F5FA;
}

main {
  margin-top: 5rem;
}

p {
  color: var(--base-color);
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}